@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url('../Image/ABOUT.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<style>
    .LLL {
        color: white;
    }
    .YYY{
        color:aquamarine;
        font-size:50px;
    }
</style>
<main aria-labelledby="title">
    <h2 class="YYY" id="title">@ViewBag.Title.</h2>
    <h3 class="YYY">@ViewBag.Message</h3>

    
    <p class="LLL">Today a lot of online grocery shopping stores are emerging and much more are coming in the market, making grocery shopping simple and convenient. For those who want to make online shopping for the first time or for those who already know about online grocery delivery service, you will be comfortable and beneficial to buy groceries online. Using the best online grocery delivery services, you will be delivered fresh and high quality products with a few clicks.  </p>
    <p class="LLL">By using the best online grocery delivery service you will get a more enjoyable and convenient experience of shopping. As visiting a grocery store on a daily basis may waste your valuable time which you can spend with your family or for any other purpose, grocery delivery services will help you choose the necessary products, make payments online and get the fresh products delivered to your doorstep on time.</p>
    <p class="LLL">There are many benefits of online grocery shopping which helps customers to save a lot of time and money. Today there are many best online grocery delivery services which deliver the selected products to the doorstep of the customers on time.Incase of purchasing products inside supermarkets during peak hours, you may face trouble of waiting and standing in long queues which may consume a lot of time. You can get rid of these troubles through the best online grocery delivery services where you can order the groceries that are needed from your mobile phone or laptop. You need not visit the supermarket and shop from the online portal wherever you areAs almost everyone today is busy with their day-to-day activities and time conscious, everyone is looking for grocery delivery service instead of going to the supermarket and buying things. Making grocery purchases online will not consume most of your time. In case you are shopping in a supermarket where you need to search all around to find the product you need, it consumes a lot of time. You can avail the best online grocery delivery services to get products delivered to your doorstep in a single click. You can efficiently spend your time with family or at work and let all the grocery shopping done by the best online grocery delivery services.</p>



</main>