@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-image: url('../Image/img2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        PARADISE<br />
        MOOVENDAR NAGAR<br />
        SEELAPADI<br />
        DINDIGUL<br />
        Pincode: 624005<br />
        <abbr title="Phone">P:</abbr>
        7653876907
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@green.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@green.com</a>
    </address>
</main>