@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('../Image/strew.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tittle{
        color:aliceblue;
        font-weight:bold;
        font-size:100px;
    }
    .tit{
        color:aliceblue;
        font-weight:bold;
        font-size:50px;
    }

</style>


<div class="container">
    <div class="text-center "><h1 class="tittle">WELCOME</h1></div>
    <div class="text-center"><h3 class="tit">Have a wonderful Day</h3></div>
    <br />
    <div class="text-center" style="color:aliceblue"><h2>SERVE <span style="color:aqua;">FRESH</span> DISHES FROM FRESH AND <span style="color:aqua;">HEALTHY INGREDIENTS</span></h2></div>
    <div class="text-center" style="color:aliceblue"><p>A Wide Selection Of Organic Products That Are Ready To Meet Your Dining Table,Ranging From Vegetables,Fruits And Various Other Organic Food Ingredients </p></div>
</div>