
@{
    ViewBag.Title = "PaidSuccessfully";
}

<center>
    <div style="margin-top:100px">
        <h2 style="color:antiquewhite;"> Payment Successful</h2>
        <h2 style="color:antiquewhite;"> HAVE A AWESOME DAY !!!</h2>
        <h3 style="color:aliceblue;"> VISIT AGAIN...</h3>
    </div>
</center>
<style>
    body {
        background-image:url("../Image/Kavi 2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

